<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<add key="apiKeys" value="" />
		<!-- True/False -->
		<add key="startWithWindows" value="True" />
	
		<add key="initialPositionX" value="400"/>
		<add key="initialPositionY" value="600"/>
	
		<add key="initialWindowHeight" value="500"/>
		<add key="initialWindowWidth" value="300"/>
		<!--
		C:\Documents\Newsletters\Summer2018.pdf
		\Program Files\Custom Utilities\StringFinder.exe
		2018\January.xlsx
		..\Publications\TravelBrochure.pdf  
		-->
		<add key="messageSaveDirectory" value="./logging" />
		<!-- light/dark/follow_system_theme -->
		<add key="themeMode" value="light" />
		<!-- default_light/default_dark -->
		<add key="theme" value="deafult_light" />
		<!-- Alternate/Left/Right -->
		<add key="chatBubbleLayout" value="Right" />
</configuration>
