<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<apiKeys>
		<!-- <apiKey>sk-0000000000000000000000000000000000000000</apiKey> -->
	</apiKeys>
	<!-- True/False -->
	<startWithWindows>True</startWithWindows>
	<initialPositionX>400</initialPositionX>
	<initialPositionY>600</initialPositionY>
	<initialWindowHeight>500</initialWindowHeight>
	<initialWindowWidth>300</initialWindowWidth>
	<!--
		C:\Documents\Newsletters\Summer2018.pdf
		\Program Files\Custom Utilities\StringFinder.exe
		2018\January.xlsx
		..\Publications\TravelBrochure.pdf  
	-->
	<messageSaveDirectory>./logging</messageSaveDirectory>
	<!-- light/dark/follow_system_theme -->
	<themeMode>light</themeMode>
	<!-- default_light/default_dark -->
	<theme>deafult_light</theme>
	<!--  True/False -->
	<isMarkdownEnabled>True</isMarkdownEnabled>
</configuration>
